<fieldset>
  <legend><%= t :gift_recipient_address %></legend>

  <div class="field">
    <%= f.label :gift_recipient_firstname %><br />
    <%= f.text_field :gift_recipient_firstname %>
  </div>
  <div class="field">
    <%= f.label :gift_recipient_lastname %><br />
    <%= f.text_field :gift_recipient_lastname %>
  </div>
  <div class="field">
    <%= f.label :gift_recipient_street %><br />
    <%= f.text_field :gift_recipient_street %>
  </div>    
  <div class="field">
    <%= f.label :gift_recipient_zip_code %><br />
    <%= f.text_field :gift_recipient_zip_code %>
  </div>
  <div class="field">
    <%= f.label :gift_recipient_city %><br />
    <%= f.text_field :gift_recipient_city %>
  </div>
</fieldset>    
