<fieldset>
  <legend><%= t :payment_information %></legend>

  <div class="field">
    <%= f.label :account_number %><br />
    <%= f.text_field :account_number %>
  </div>
  <div class="field">
    <%= f.label :bank_code %><br />
    <%= f.text_field :bank_code %>
  </div>
  <div class="field">
    <%= f.label :bank %><br />
    <%= f.text_field :bank %>
  </div>
  <div class="field">
    <%= f.label :account_holder %><br />
    <%= f.text_field :account_holder %>
  </div>  
</fieldset>
